.Aplikacje {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
  margin: 16px;
  align-content: flex-start;
}

.Aplikacja {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
