.Wybor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Kolor {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Przyciski {
  display: flex;
  flex-grow: 1;
}

.Przycisk {
  flex-basis: 100%;
  border: 1px solid black;
  margin: 5px;
  background-color: white;
  cursor: pointer;
}
